################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Zeyox App/.vs/Zeyox App/FileContentIndex/1973f2c0-b211-4d26-a27c-9922df164136.vsidx
